<div class="page-capsys">
  <div class="row">
    <div class="col-sm-12">
      <google-map #GMap width="100%" [options]="options">
      </google-map>
    </div>
  </div>
</div>

<!-- <div class="page-capsys">
  <div class="row">
    <div class="col-sm-12">
      <google-map #GMap width="100%" [options]="options">
      </google-map>
      <div class="row mt-2">
        <div class="col-md-3 offset-9">
          <mat-form-field appearance="outline" class="width__full">
            <mat-label>Estilo de Mapa</mat-label>
            <mat-select #r (selectionChange)="changeStyleTypeMap(r.value)">
              <mat-option value="default" selected="selected">Estándar</mat-option>
              <mat-option value="silver">Plateado</mat-option>
              <mat-option value="night">Oscuro</mat-option>
              <mat-option value="modern">Moderno</mat-option>
              <mat-option value="retro">Retro</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</div> -->
