/* You can add global styles to this file, and also import other style files */
@import "../src/assets/scss/theme.scss";



html, body { height: 100%; background-color:white;}
body { margin: 0; font-family: Roboto, "Helvetica Neue","Arial", sans-serif; }

.toolbar-spacer {
  flex: 1 1 auto;
}
